parameters:
	ignoreErrors:
		-
			message: '#^Method Doppar\\Axios\\Http\\Axios\:\:__callStatic\(\) has parameter \$arguments with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^Method Doppar\\Axios\\Http\\Axios\:\:configure\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^Method Doppar\\Axios\\Http\\Axios\:\:wait\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^Method Doppar\\Axios\\Http\\Contracts\\Httpor\:\:wait\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(\)\: array;\)\: Unexpected token ";", expected type at offset 1003 on line 23$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(\)\: array;\)\: Unexpected token ";", expected type at offset 1036 on line 24$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(\)\: array;\)\: Unexpected token ";", expected type at offset 1370 on line 33$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(\)\: bool;\)\: Unexpected token ";", expected type at offset 1141 on line 27$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(\)\: bool;\)\: Unexpected token ";", expected type at offset 1175 on line 28$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(\)\: bool;\)\: Unexpected token ";", expected type at offset 1295 on line 31$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(\)\: bool;\)\: Unexpected token ";", expected type at offset 1334 on line 32$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(\)\: int;\)\: Unexpected token ";", expected type at offset 1103 on line 26$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(\)\: object;\)\: Unexpected token ";", expected type at offset 1211 on line 29$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(\)\: self;\)\: Unexpected token ";", expected type at offset 2082 on line 46$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(\)\: self;\)\: Unexpected token ";", expected type at offset 772 on line 17$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(\)\: self;\)\: Unexpected token ";", expected type at offset 938 on line 21$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(\)\: self;\)\: Unexpected token ";", expected type at offset 970 on line 22$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(\)\: string;\)\: Unexpected token ";", expected type at offset 1070 on line 25$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(array \$fields\)\: self\)\: Unexpected token "\\n \* ", expected type at offset 1627 on line 38$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(array \$headers\)\: self;\)\: Unexpected token ";", expected type at offset 190 on line 6$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(array \$json\)\: self;\)\: Unexpected token ";", expected type at offset 327 on line 9$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(array \$options\)\: self;\)\: Unexpected token ";", expected type at offset 1970 on line 44$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(array \$options\)\: self;\)\: Unexpected token ";", expected type at offset 380 on line 10$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(array \$query\)\: self;\)\: Unexpected token ";", expected type at offset 239 on line 7$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(callable \$callback\)\: self\)\: Unexpected token "\\n \* ", expected type at offset 1684 on line 39$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(callable \$callback\)\: self;\)\: Unexpected token ";", expected type at offset 1470 on line 35$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(callable \$callback\)\: self;\)\: Unexpected token ";", expected type at offset 1521 on line 36$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(callable \$middleware\)\: self;\)\: Unexpected token ";", expected type at offset 741 on line 16$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(float \$seconds\)\: self;\)\: Unexpected token ";", expected type at offset 480 on line 12$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(string \$baseUrl\)\: self;\)\: Unexpected token ";", expected type at offset 1919 on line 43$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(string \$header\)\: string;\)\: Unexpected token ";", expected type at offset 1420 on line 34$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(string \$method\)\: self;\)\: Unexpected token ";", expected type at offset 137 on line 5$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(string \$savePath\)\: self;\)\: Unexpected token ";", expected type at offset 1573 on line 37$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(string \$token\)\: self;\)\: Unexpected token ";", expected type at offset 679 on line 15$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(string \$url\)\: self;\)\: Unexpected token ";", expected type at offset 85 on line 4$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^PHPDoc tag @method has invalid value \(\(string \$username, string \$password\)\: self;\)\: Unexpected token ";", expected type at offset 623 on line 14$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^Property Doppar\\Axios\\Http\\Axios\:\:\$globalOptions type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/Axios.php

		-
			message: '#^Method Doppar\\Axios\\Http\\Contracts\\Httpor\:\:headers\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/Contracts/Httpor.php

		-
			message: '#^Method Doppar\\Axios\\Http\\Contracts\\Httpor\:\:json\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/Contracts/Httpor.php

		-
			message: '#^Method Doppar\\Axios\\Http\\Contracts\\Httpor\:\:wait\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/Contracts/Httpor.php

		-
			message: '#^Method Doppar\\Axios\\Http\\Contracts\\Httpor\:\:withHeaders\(\) has parameter \$headers with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/Contracts/Httpor.php

		-
			message: '#^Method Doppar\\Axios\\Http\\Contracts\\Httpor\:\:withJson\(\) has parameter \$json with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/Contracts/Httpor.php

		-
			message: '#^Method Doppar\\Axios\\Http\\Contracts\\Httpor\:\:withMultipart\(\) has parameter \$fields with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/Contracts/Httpor.php

		-
			message: '#^Method Doppar\\Axios\\Http\\Contracts\\Httpor\:\:withOptions\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/Contracts/Httpor.php

		-
			message: '#^Method Doppar\\Axios\\Http\\Contracts\\Httpor\:\:withQuery\(\) has parameter \$query with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/Contracts/Httpor.php

		-
			message: '#^Method Doppar\\Axios\\Http\\Contracts\\Httpor\:\:withScope\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/Contracts/Httpor.php

		-
			message: '#^Call to function is_array\(\) with Symfony\\Contracts\\HttpClient\\ResponseInterface\|null will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Cannot call method getContent\(\) on Symfony\\Contracts\\HttpClient\\ResponseInterface\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Cannot call method getHeaders\(\) on Symfony\\Contracts\\HttpClient\\ResponseInterface\|null\.$#'
			identifier: method.nonObject
			count: 3
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Cannot call method getStatusCode\(\) on Symfony\\Contracts\\HttpClient\\ResponseInterface\|null\.$#'
			identifier: method.nonObject
			count: 3
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Cannot call method toArray\(\) on Symfony\\Contracts\\HttpClient\\ResponseInterface\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Method Doppar\\Axios\\Http\\SymfonyHttpClient\:\:__construct\(\) has parameter \$globalOptions with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Method Doppar\\Axios\\Http\\SymfonyHttpClient\:\:applyMiddlewares\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Method Doppar\\Axios\\Http\\SymfonyHttpClient\:\:applyMiddlewares\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Method Doppar\\Axios\\Http\\SymfonyHttpClient\:\:collect\(\) has invalid return type Phaseolies\\Support\\Collection\.$#'
			identifier: class.notFound
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Method Doppar\\Axios\\Http\\SymfonyHttpClient\:\:headers\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Method Doppar\\Axios\\Http\\SymfonyHttpClient\:\:json\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Method Doppar\\Axios\\Http\\SymfonyHttpClient\:\:prepareHttp2Options\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Method Doppar\\Axios\\Http\\SymfonyHttpClient\:\:to\(\) has parameter \$url with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Method Doppar\\Axios\\Http\\SymfonyHttpClient\:\:wait\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Method Doppar\\Axios\\Http\\SymfonyHttpClient\:\:withHeaders\(\) has parameter \$headers with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Method Doppar\\Axios\\Http\\SymfonyHttpClient\:\:withJson\(\) has parameter \$json with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Method Doppar\\Axios\\Http\\SymfonyHttpClient\:\:withMultipart\(\) has parameter \$fields with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Method Doppar\\Axios\\Http\\SymfonyHttpClient\:\:withOptions\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Method Doppar\\Axios\\Http\\SymfonyHttpClient\:\:withQuery\(\) has parameter \$query with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Method Doppar\\Axios\\Http\\SymfonyHttpClient\:\:withScope\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Parameter \#1 \$response of class Symfony\\Component\\HttpClient\\Exception\\ClientException constructor expects Symfony\\Contracts\\HttpClient\\ResponseInterface, int given\.$#'
			identifier: argument.type
			count: 2
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Parameter \#1 \$response of class Symfony\\Component\\HttpClient\\Exception\\ClientException constructor expects Symfony\\Contracts\\HttpClient\\ResponseInterface, int\<400, max\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Parameter \#1 \$responses of method Symfony\\Contracts\\HttpClient\\HttpClientInterface\:\:stream\(\) expects iterable\<\(int\|string\), Symfony\\Contracts\\HttpClient\\ResponseInterface\>\|Symfony\\Contracts\\HttpClient\\ResponseInterface, Symfony\\Contracts\\HttpClient\\ResponseInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Parameter \#2 \$getErrorBody of class Symfony\\Component\\HttpClient\\Exception\\ClientException constructor expects \(Closure\(\)\: string\)\|null, ''Server returned…'' given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Parameter \#2 \$getErrorBody of class Symfony\\Component\\HttpClient\\Exception\\ClientException constructor expects \(Closure\(\)\: string\)\|null, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Parameter \#2 \$getErrorBody of class Symfony\\Component\\HttpClient\\Exception\\ClientException constructor expects \(Closure\(\)\: string\)\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Property Doppar\\Axios\\Http\\SymfonyHttpClient\:\:\$batchUrls type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Property Doppar\\Axios\\Http\\SymfonyHttpClient\:\:\$middlewares type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Property Doppar\\Axios\\Http\\SymfonyHttpClient\:\:\$options type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Property Doppar\\Axios\\Http\\SymfonyHttpClient\:\:\$pendingAsyncRequests type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Property Doppar\\Axios\\Http\\SymfonyHttpClient\:\:\$response \(Symfony\\Contracts\\HttpClient\\ResponseInterface\|null\) does not accept list\<string\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Http/SymfonyHttpClient.php

		-
			message: '#^Property Doppar\\Axios\\Http\\SymfonyHttpClient\:\:\$retrySettings type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Http/SymfonyHttpClient.php
